doctype html
html
  head
	script(src='components/jquery/dist/jquery.js')
	script(src="javascripts/control.js")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
