extends layout

block content
    h1= title
    p
        | Welcome to #{title}. Click the options below, and if necessary
        | scroll down to see the results.

    div#databaseOptions
        ul
            li
                a(href='databaseName') Get current Database Name
            li
                a(href='createDb') CreateDb
            li
                a(href="insertDesignDoc") Insert Design Doc
            li
                a(href='deleteDb') DeleteDb
        ul
            li
                a(href='insertNpcsBulk') Insert NPCs Bulk
            li
                a(href='insertNpcsOneDoc') Insert NPCs as one document
        ul
            li
                a(href="readOne") Read One Doc
            li
                a(href="viewNpcsBulk") View NPCs Bulk documents
            li
                a(href="viewNpcsOneDoc") View NPCs One document

    //div
    //    a(href='')#read Read One Doc
    div
        input#index(type="text", value=)
    div
        p Name
        input#npcName(type="text", value=)
    div
        p Description
        input#npcDescription(type="text", value=)
    div
        p ID
        input#npcID(type="text", value=)
    div
        p Question
        input#npcQuestion(type="text", value=)

    div
        button#back Back
    div
        button#forward Forward

    div
        div(data-ng-view='')

    div#elfContent

    pre#debug
    pre#docs
